<div class="btn-group">
  <button class="btn btn-primary dropdown-toggle" type="button" id="projectSelectionBtn" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false">
    {{ selectedProcess == null ? "Select your process" :selectedProcess.name }}
    <ul class="dropdown-menu" aria-labelledby="projectSelectionBtn">
      <li class="nav-item" *ngFor="let process of myProcesses"><a routerLink="['process',process.id]" class="nav-item nav-link active"
          (click)="selectProcess(process)" href="/process/{{process.id}}" routerLinkActive="active">{{process.name}}</a>
      </li>
    </ul>
  </button>
</div>
