<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">Rhea2</a>
  <app-process-list></app-process-list>
  <div class="navbar-expand ml-auto navbar-nav">
    <ul class="navbar-nav">
      <li><a class="nav-item nav-link active" href="/home">Home</a></li>
      <li><a class="nav-item nav-link active" href="/settings">Settings</a></li>
      <li><a class="nav-item nav-link active" href="/settings">Login/Logout</a></li>
    </ul>
  </div>
  <!--<div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://github.com/beeman" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a class="nav-item nav-link" href="https://twitter.com/beeman_nl" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
      <a class="nav-item nav-link" href="https://medium.com/@beeman" target="_blank">
        <i class="fa fa-medium"></i>
      </a>
    </div>
  </div>-->
</nav>
