<div class="container-fluid">
  <div class="card-columns">

    <div class="card " *ngFor="let process of processes">
      <div class="card-header">
        <a href="process/{{process.id}}">
          <h3>{{process.name}}</h3>
        </a>
      </div>
      <img class="card-img-top" *ngIf="process.image" src="{{process.image}}" />
      <div class="card-body">
        <span class="small">{{process.desc}}</span>

      </div>
      <ul class="list-group list-group-flush">
        <li *ngFor="let s of process.steps" class="list-group-item">{{s.name}} <span class="badge badge-pill badge-warning"
            *ngIf="s.items">{{s.items.length}}</span></li>
      </ul>
    </div>
  </div>
</div>
